:root {
  --ff-special: "Pacifico", cursive;
  --ff-regular: "Roboto", sans-serif;

  --clr-100: #013053;
  --clr-110: #264e6d;
  --clr-200: #ff009d;
  --clr-210: #d80085;
  --clr-220: #b80172;
  --clr-300: #75b2f9;
  --clr-310: #4d7fb8;
  --clr-400: #e8e8e8;
  --clr-410: #cccccc;
  --clr-500: #f6fb00;
  --clr-510: #d3d600;
  --clr-520: #b1b403;
  --clr-600: #00ffff;
  --clr-610: #01cfcf;
  --clr-620: #01b1b1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  scroll-behavior: smooth;
}

main {
  background-color: var(--clr-100);
  height: 100vh;
  display: flex;
  justify-content: center;
}
